.newsfeed {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.newsfeed__top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}

.newsfeed__avatar {
  margin-right: 10px;
}

.newsfeed__topInfo > h3 {
  font-size: medium;
}

.newsfeed__topInfo > p {
  font-size: small;
  color: gray;
}

.newsfeed__bottom {
  margin-bottom: 10px;
  padding: 10px 20px;
}

.newsfeed__image > img {
  width: 100%;
}

.newsfeed__options {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  font-size: small;
  color: gray;
  cursor: pointer;
  padding: 10px;
}

.newsfeed__option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
}

.newsfeed__option > p {
  margin-left: 10px;
}

.newsfeed__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  color: #2e81f4;
}
