.posts {
  flex: 1;
  min-width: fit-content;
  height: 700px;
  /* margin-left: 50%; */
}

@media screen and (max-width: 1280px) {
  .posts {
    margin-left: 0%;
  }
}

/* only posts get scroll not header and sidebars*/
.posts::-webkit-scrollbar {
  display: none;
}
