.right__sidebar {
  /* display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20%;
  margin-top: 20px; */

  max-width: 350px;
  /* width: 100%; */
}

@media screen and (max-width: 800px) {
  .right__sidebar {
    display: none;
  }
}

.contacts {
  margin: 10px 0px 0px 10px;
}

.hr {
  margin-left: 16px;
  margin-bottom: 10px;
  margin-right: 16px;
  margin-top: 8px;
  border-bottom: 2px solid #3e4042;
}

h1 {
  font-size: 17px;
  font-weight: 600;
  color: #b0b3b8;
  cursor: context-menu;
  margin-left: 16px;
}

.searchIcon2 {
  background-image: url(https://facebook.com/rsrc.php/v3/yH/r/hD_JBkCe96v.png);
  background-size: 33px 1483px;
  background-repeat: no-repeat;
  width: 16px;
  cursor: pointer;
  margin-left: auto;
  height: 16px;
  background-position: 0 -1398px;
  vertical-align: -0.25em;
  filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg)
    brightness(90%) contrast(96%);
}

.more {
  background-image: url(https://facebook.com/rsrc.php/v3/yH/r/hD_JBkCe96v.png);
  background-size: 33px 1483px;
  background-repeat: no-repeat;
  width: 16px;
  margin-right: 20px;
  float: right;
  height: 16px;
  cursor: pointer;
  margin-left: 30px;
  background-position: 0 -1364px;
  vertical-align: -0.25em;
  filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg)
    brightness(90%) contrast(96%);
}

.detail {
  display: flex;
  flex-direction: row;
}

/* @media screen and (max-width: 600px) {
  .right__sidebar {
    display: none;
  }
} */
