body {
  background-color: #18191a;
  overflow-x: hidden;
}

.app__mainpage {
  display: flex;
}

.app__posts {
  /* display: flex;
  justify-content: center;
  margin-left: 1%; */
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

.post {
  border-radius: 15px;
}

.app {
  overflow: auto;
  height: 100vh;
}
