.profileSidebar {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  /* flex: 0.4; */
  margin-bottom: 30px;
  width: 500px;
}

.photos {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-right: 10px;
}

.posts2 {
  background-color: #242526;
  border-radius: 10px;
  /* margin-left: 40%; */
  margin-bottom: 10px;
}

.posts2 h1 {
  margin-top: 10px;
}

.posts2 h3 {
  font-size: 14px;
  color: #e4e6eb;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 16px;
}

.policies.profile {
  /* margin-left: 48%; */
}

.hr.profile {
  /* margin-left: 42%; */
}

.photos img {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: 0.2s !important;
  height: 70px;
  width: auto;
}

.photos img:hover {
  border-radius: 0 !important;
  opacity: 0.8;
}

.introblock {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.birthday {
  height: 20px;
  width: 20px;
  margin-left: 20px;
  margin-top: 10px;
  filter: brightness(60%);
}

.introblock h1 {
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #e4e6eb;
}

.introblock h1:hover {
  text-decoration: underline;
  cursor: pointer;
}
